<script>
import {scaleBand,scaleLinear} from 'd3-scale'
import {schemeAccent} from 'd3-scale-chromatic';
import {axisLeft,axisTop} from 'd3-axis'
import {select, selectAll} from 'd3-selection'
import Line from './_design_1_line.svelte'

import {builddom} from './_design_1_store.js'

export let width
export let height

let yaxisarea = 0.15

// console.log(builddom)
$: yScale = scaleBand().domain($builddom).range([0,height])
$: xScale = scaleLinear().domain([0,31]).range([yaxisarea*width,width])

$: cScale = scaleLinear().domain([1,$builddom.length]).range(schemeAccent)

let buildAxis = null
$: buildyAxis = (x) => {
    let yAxis = axisLeft(scaleBand().domain($builddom).range([0,height])).tickSizeOuter(0).tickSizeInner(0);
    if(buildAxis!=null){
        buildAxis.transition().duration(1000).call(yAxis)}
    else {
        buildAxis = select(x).call(yAxis)
    }
    select(x).style("font-family","Trebuchet MS")
    select(x).style("font-size",0.04*height)
}

$: buildxAxis = (x) => {
    const xAxis = axisTop(xScale).tickSizeOuter(0).tickSizeInner(4);
    select(x).call(xAxis)
    select(x).style("font-family","Trebuchet MS")
    select(x).style("font-size",0.04*height)
    select(x).style("font-weight","bold")}

let g
let yAxis

</script>


<g bind:this={g} transform="translate({yaxisarea*width} 0)" use:buildyAxis></g>

<!-- <g transform="translate({yaxisarea*width} {midwidth})">
        <Line ypos={height/2} llength={(1-yaxisarea)*width} lwidth={height/2} btype={$builddom[0]}/>
</g> -->
<g transform="translate({yaxisarea*width} {yScale($builddom[1])/2})">
    {#each $builddom as building, idx}
        <Line ypos={yScale(building)} llength={(1-yaxisarea)*width} lwidth={0.9*yScale($builddom[1])/2} btype={building} color={cScale(idx)}/>
    {/each}
</g>


<g transform="translate(0 0)" use:buildxAxis>
</g>
<text font-weight='bold' font-size={0.04*height}
x={yaxisarea*width} y={-0.1*height} dominant-baseline='top' text-anchor="start">
Date of Month (Dec)</text>



<style>
    text {
        font-family: 'Trebuchet MS';
    }
</style>
