<script>
    import {scaleLinear} from 'd3-scale'

    import {data, scaling, maxenergy} from './_design_1_store.js'

    export let ypos=0
    export let llength
    export let lwidth
    export let btype
    export let color

    // console.log($scaling)
    // console.log($maxenergy)


    // console.log(btype)
    

    $: pathGenerator = () => {
        const filtered = $data.filter(d=> d.buildingtype == btype)
        let tarray = filtered.map(({day,hour}) => (day-1)*24+hour)
        let earray = filtered.map(({total_heating_energy}) => (total_heating_energy))

        // console.log(earray)

        let maxidx = Math.max(...tarray)
        const xScale = scaleLinear().domain([0,maxidx]).range([0,llength])


        let maxenergythis=Math.max(...earray)
        // console.log('Maxenergies',$maxenergy,maxenergythis)

        let wScale
        // console.log($scaling)
        let text = $scaling + ""
        if (text!="Within") {wScale = scaleLinear().domain([0,$maxenergy]).range([0,-lwidth])}
        else {wScale = scaleLinear().domain([0,maxenergythis]).range([0,-lwidth])}

        let path = "M"
        earray.forEach((value,idx) => {
            path += " " + xScale(tarray[idx]) + ',' + wScale(earray[idx])
        })
        earray.forEach((value,idx) => {
            path += " " + xScale(tarray[maxidx-idx]) + ',' + wScale(-earray[maxidx-idx])
        })
        path += " Z"
        // console.log(path)
        return path;
    }

</script>

{#await $maxenergy}
    <!--  -->
{:then value} 
<line y1={ypos} y2={ypos} x1={0} x2={llength} stroke={color} opacity=0.7/>
<g transform="translate(0,{ypos})">
<path d={pathGenerator()} fill={color}/>
</g>
{/await}
<style>
    path {
        stroke: none;
        fill-opacity:0.7;
    }
</style>