<script>
import {scaleLinear} from 'd3-scale'

import {scaling} from './_design_1_store.js'

export let cwidth
export let cheight

const cityopts = [
    { id: 1, name: "Baltimore", text: "Baltimore" },
    { id: 2, name: "Chicago", text: "Chicago" },
    { id: 3, name: "Los Angeles", text: "Los Angeles" }
  ];

  const scaleopts = [
    { id: 1, name: "Across", text: "Across all Building Types" },
    { id: 2, name: "Within", text: "Within Building Types" }
  ];


const cityScale = scaleLinear().domain([0.5,3.5]).range([0,cheight])
const scalingScale = scaleLinear().domain([0.5,2.5]).range([0,cheight])

export let updatedcity = 0
export let city = "Baltimore"
$: updatecity = (newcity) => {
    // console.log("New City: ",newcity)
    if (newcity != city) {
        updatedcity--;
        city = newcity;
        // console.log("Updated to: ",city)
    }
}
scaling.set("Across")
$: updatescaling = (newscaling) => {
    // console.log("New Scaling: ",newscaling)
    if (newscaling != $scaling) {
        updatescaling=0;
        $scaling = newscaling;
        // console.log("Updated to: ",$scaling)
    }
}
</script>

<g>
    <g>
        <text font-weight='bold' font-size={0.24*cheight} dominant-baseline="central"
        x={0} y={cheight/2}>
            Location:</text>
        <line x1={1.1*cheight} x2={1.1*cheight} y1={0} y2={cheight} stroke=gray/>
    </g>

    <g transform="translate({1.3*cheight} 0)">
    {#each cityopts as op}
        <circle class="optcircle" cx={0} cy={cityScale(op.id)} r={0.08*cheight} on:click="{updatecity(op.name)}"/>
        {#if city==op.name}
        <circle class="selector" cx={0.02} cy={cityScale(op.id)} r={0.04*cheight} on:click="{updatecity(op.name)}"/>
        {/if}
        <text font-size={0.24*cheight} dominant-baseline="central" text-anchor="start" on:click="{updatecity(op.name)}"
        x={0.15*cheight} y={cityScale(op.id)}>
        {op.text} </text>
    {/each}
    </g>
</g>

<g transform="translate({0.5*cwidth} 0)">
    <g>
        <text font-weight='bold' font-size={0.24*cheight} dominant-baseline="central"
        x={0} y={cheight/2}>
            Scaling:</text>
            <line x1={1.1*cheight} x2={1.1*cheight} y1={0} y2={cheight} stroke=gray/>
        </g>

    <g transform="translate({1.3*cheight} 0)">
    {#each scaleopts as op}
        <circle class="optcircle" cx={0} cy={scalingScale(op.id)} r={0.08*cheight} on:click="{updatescaling(op.name)}"/>
        {#if $scaling==op.name}
        <circle class="selector" cx={0.02} cy={scalingScale(op.id)} r={0.04*cheight} on:click="{updatescaling(op.name)}"/>
        {/if}
        <text font-size={0.24*cheight} dominant-baseline="central" text-anchor="start" on:click="{updatescaling(op.name)}"
        x={0.15*cheight} y={scalingScale(op.id)}>
        {op.text} </text>
    {/each}
    </g>
</g>

<style>
    .optcircle {
        fill:whitesmoke;
        stroke-width: 1;
        stroke: gray;
    }
    .selector{
        fill:dodgerblue;
        stroke: none
    }
    text {
        font-family: 'Trebuchet MS';
    }
</style>
