<script>
    import {data, dScale, eScale, gScale} from './_design_3_store.js'
    import Tooltip from './_design_3_tooltip.svelte'

    export let width
    export let height
    export let dir
    export let week

    const leafwidth=0.8*width
    const leafheight=0.75*height
    const leafbase=0.9*width

    const filtered = $data.filter(d => d.week == week)

    const wdays = ['mon','tue','wed','thu','fri','sat','sun'] 
    $: pathElec = () => {
        // console.log($data)
    let maxday = Math.max(...filtered.map((d) => {return d.day}))
    let path = "M 0,0"
        filtered.forEach((d) => {
            path += " " + dir*leafwidth*$dScale((d.day) % 7) + ',' + (leafheight*$eScale(d.electricity))
        })
        path += " "+dir*leafwidth*$dScale((maxday) % 7 + 1/24)+",0 Z"
        // console.log(path)
        return path
    }

    $: pathGas = () => {
        // console.log($data)
    let maxday = Math.max(...filtered.map((d) => {return d.day}))
    let path = "M 0,0"
        filtered.forEach((d) => {
            path += " " + dir*leafwidth*$dScale((d.day) % 7) + ',' + (-leafheight*$gScale(d.gas))
        })
        path += " "+dir*leafwidth*$dScale((maxday) % 7 + 1/24)+",0 Z"
        // console.log(path)
        return path
    }

    function leaf(x) {
        return ((x*(x-1)*(x-1))/((1-0.3)*((1-0.3)*(x-0.3)-(-0.3)*(0.3+1-2*x))))**0.15
    }

    $: pathLeaf = () => {
        let path = "M 0,0"
        for (let i=0; i<201; i++){
            path += " "+dir*leafbase*i/200+","+(height*leaf(i/200))
        }
        for (let i=0; i<201; i++){
            path += " "+dir*leafbase*(200-i)/200+","+(-height*leaf((200-i)/200))
        }
        path += " Z"
        // console.log(path)
        return path
    }

    let hoverx=-1
    let hovery=0
    let datehover=0
    let valuehover=0
    let colorhover
    $: opacityElec = () => {
        if (colorhover=="blue") {return 0.5}
        else {return 0.3}
    }
    $: opacityGas = () => {
        if (colorhover=="red") {return 0.5}
        else {return 0.3}
    }

    $: hoverElec = (dp) => {
        hoverx=0.01+dir*leafwidth*$dScale((dp.day) % 7)
        hovery=0.01+leafheight*$eScale(dp.electricity)
        datehover = wdays[Math.trunc(dp.day%7)]+" - " + ((dp.day%1)*24).toFixed(0)+":00"
        valuehover = dp.electricity.toLocaleString('en',{maximumFractionDigits: 2})
        colorhover="blue"
    }

    $: hoverGas = (dp) => {
        hoverx=0.01+dir*leafwidth*$dScale((dp.day) % 7)
        hovery=0.01-leafheight*$gScale(dp.gas)
        datehover = wdays[Math.trunc(dp.day%7)]+" - " + ((dp.day%1)*24).toFixed(0)+":00"
        valuehover = dp.gas.toLocaleString('en',{maximumFractionDigits: 2})
        colorhover="red"
    }
    
    $: unhover = () => {
        hoverx=-1;
        colorhover=null
    }

    $: hover = () =>{
        // console.log(hoverx)
        return (hoverx!=-1)
    }

</script>

<line x1=0 x2={dir*width} y1=0 y2=0 stroke="gray"/>
<g transform="translate({dir*(width-leafwidth)/2} 0)" >
<path d={pathLeaf()} stroke="green" fill="darkgreen" opacity=0.15/>
<path d={pathElec()} fill="royalblue" />
<path d={pathGas()} fill="orange" />

{#each filtered as dp}
<circle cx={dir*leafwidth*$dScale((dp.day) % 7)} cy={leafheight*$eScale(dp.electricity)}
    r=1 fill="midnightblue" on:mouseenter={hoverElec(dp)}/>
<circle cx={dir*leafwidth*$dScale((dp.day) % 7)} cy={-leafheight*$gScale(dp.gas)}
    r=1 fill="darkorange" on:mouseenter={hoverGas(dp)}/>
{/each}

{#if hover()==true}
<Tooltip date={datehover} value={valuehover} x={hoverx} y={hovery} width={width/4} color={colorhover}/>
<circle cx={hoverx} cy={hovery} r=2 fill="gray" on:mouseleave={unhover()}/>
{/if}

</g>

<style>
    line{
        stroke: gray;
        stroke-width: 1;
    }
</style>