<script>
    export let height
    export let width

    import {mScale, dScale, eScale} from './_design_2_store'
    export let city
    export let data

    import Tooltip from './_design_2_tooltip.svelte'

    const radius = 0.4*width

    $: pathCool = (dps) => {
        // dps = dps.filter(d => d.day == 1)
        let path = "M"
        dps.forEach((dp,idx) => {
            path += " " + radius*$eScale(dp.cooling)*Math.cos($mScale(dp.month) + $dScale[dp.month-1](dp.day))+
                    ',' + -radius*$eScale(dp.cooling)*Math.sin($mScale(dp.month) + $dScale[dp.month-1](dp.day))
        })
        path += " Z"
        // console.log(path)
        return path;
    }

    $: pathHeat = (dps) => {
        // dps = dps.filter(d => d.day == 1)
        let path = "M"
        dps.forEach((dp,idx) => {
            path += " " + radius*$eScale(dp.heating)*Math.cos($mScale(dp.month) + $dScale[dp.month-1](dp.day))+
                    ',' + -radius*$eScale(dp.heating)*Math.sin($mScale(dp.month) + $dScale[dp.month-1](dp.day))
        })
        path += " Z"
        // console.log(path)
        return path;
    }

    let hoverx=-1
    let hovery=0
    let datehover=0
    let valuehover=0
    let colorhover
    $: opacitycool = () => {
        if (colorhover=="blue") {return 0.5}
        else {return 0.3}
    }
    $: opacityheat = () => {
        if (colorhover=="red") {return 0.5}
        else {return 0.3}
    }

    $: hovercool = (dp) => {
        hoverx=0.01+radius*$eScale(dp.cooling)*Math.cos($mScale(dp.month) + $dScale[dp.month-1](dp.day))
        hovery=0.01+-radius*$eScale(dp.cooling)*Math.sin($mScale(dp.month) + $dScale[dp.month-1](dp.day))
        datehover = dp.day+"/"+dp.month
        valuehover = dp.cooling.toLocaleString('en',{maximumFractionDigits: 0})
        colorhover="blue"
    }

    $: hoverheat = (dp) => {
        hoverx=0.01+radius*$eScale(dp.heating)*Math.cos($mScale(dp.month) + $dScale[dp.month-1](dp.day))
        hovery=0.01+-radius*$eScale(dp.heating)*Math.sin($mScale(dp.month) + $dScale[dp.month-1](dp.day))
        datehover = dp.day+"/"+dp.month
        valuehover = dp.heating.toLocaleString('en',{maximumFractionDigits: 0})
        colorhover="red"
    }

    $: unhover = () => {
        hoverx=-1;
        colorhover=null
    }

    $: hover = () =>{
        // console.log(hoverx)
        return (hoverx!=-1)
    }

</script>

<text font-size={width/10} x={0} y={0.1*height} text-anchor="middle"> {city} </text>
<g transform="translate(0,{width/20+(height)/2})">
<circle x={0}, y={0}, r={0.42*width} fill=none stroke=gray stroke-width=1.5/>
<line x1=0 x2=0 y1={-0.45*width} y2={0.45*width} stroke="gray"/>
<line y1=0 y2=0 x1={-0.45*width} x2={0.45*width} stroke="gray"/>

<text x={0.01*width} y={-0.44*width} text-anchor="start" font-size={width/20}>Jan</text>
<text x={0.44*width} y={-0.01*width} text-anchor="start" font-size={width/20}>Apr</text>
<text x={-0.01*width} y={0.44*width} text-anchor="end" dominant-baseline="hanging" font-size={width/20}>Jul</text>
<text x={-0.44*width} y={0.01*width} text-anchor="end" dominant-baseline="hanging" font-size={width/20}>Oct</text>


<path d={pathCool(data)} stroke="dodgerblue" fill="dodgerblue" fill-opacity={opacitycool()}/>
<path d={pathHeat(data)} stroke="indianred" fill="indianred" fill-opacity={opacityheat()}/>

<!-- TEST CIRCLE -->
<!-- <circle cx={radius*eScale(test.heating)*Math.cos(mScale(test.month) + dScale[test.month-1](test.day))}
        cy={-radius*eScale(test.heating)*Math.sin(mScale(test.month) + dScale[test.month-1](test.day))}
        r=10/>
        {console.log(test.heating,eScale(test.heating))}
        {console.log(Math.sin(mScale(test.month) + dScale[test.month-1](test.day)))} -->

<!-- ALL POINTS -->
{#each data as dp}
<circle cx={radius*$eScale(dp.cooling)*Math.cos($mScale(dp.month) + $dScale[dp.month-1](dp.day))}
        cy={-radius*$eScale(dp.cooling)*Math.sin($mScale(dp.month) + $dScale[dp.month-1](dp.day))}
        r=1 fill="royalblue" on:mouseenter={hovercool(dp)}/>

<circle cx={radius*$eScale(dp.heating)*Math.cos($mScale(dp.month) + $dScale[dp.month-1](dp.day))}
        cy={-radius*$eScale(dp.heating)*Math.sin($mScale(dp.month) + $dScale[dp.month-1](dp.day))}
        r=1 fill="palevioletred" on:mouseenter={hoverheat(dp)}/>

    
{/each}

{#if hover()==true}
<Tooltip date={datehover} value={valuehover} x={hoverx} y={hovery} width={width/5} color={colorhover}/>
<circle cx={hoverx} cy={hovery} r=2 fill="gray" on:mouseleave={unhover()}/>
{/if}

</g>

<style>
    text {
      font-family:'Trebuchet MS';
    }
  </style>
  