<script>
    export let date = ""
    export let value = ""
    export let x = 0
    export let y = 0
    export let width
    export let color
    let height = 0.5*width

    let bkgcolor
    if (color == "blue"){
        bkgcolor = "midnightblue"
    } else {bkgcolor = "firebrick"}
</script>

<rect x={x} y={y-height} width={width} height={height}
        rx={width/10} ry={width/10} fill={bkgcolor}/>
        <text x={x+width/2} y={y-11*height/16} font-size={width/5} text-anchor="middle" dominant-baseline="middle">{date}:</text>
        <text x={x+width/2} y={y-5*height/16} font-size={width/5} text-anchor="middle" dominant-baseline="middle">{value}</text>

<style>
    text {
        font-family: 'Trebuchet MS';
        fill: white;
    }
    rect {
        fill-opacity: 0.8;
    }

</style>