<script>
    import {scaleLinear} from 'd3-scale'

    export let ypos=0
    export let llength
    export let lwidth
    export let btype
    export let data
    export let scaling
    let maxenergy

    let tarray
    let earray

    function ldata(buildingtype){
        let fullenergyarray = data.map(({total_heating_energy}) => (total_heating_energy+0))
        maxenergy = Math.max(...fullenergyarray)
        const filtered = data.filter(d=> d.buildingtype == buildingtype)
        
        tarray = filtered.map(({day,hour}) => (day-1)*24+hour)
        earray = filtered.map(({total_heating_energy}) => (total_heating_energy))
    }
    ldata(btype)

    console.log(btype)
    console.log(earray)
    
    console.log(scaling)
    const maxenergythis=Math.max(...earray)

    const wScaleThis = scaleLinear().domain([0,maxenergythis]).range([0,-lwidth])
    const wScaleAll = scaleLinear().domain([0,maxenergy]).range([0,-lwidth])

    let maxidx = Math.max(...tarray)
    const xScale = scaleLinear().domain([0,maxidx]).range([0,llength])


    console.log('Maxenergies',maxenergy,maxenergythis)

    $: pathGenerator = () => {
        let wScale
        if ({scaling}=="Across") {wScale = wScaleAll;console.log('UsingAllScale')} else {wScale = wScaleThis;console.log('UsingThisScale')}
        let path = "M"
        earray.forEach((value,idx) => {
            path += " " + xScale(tarray[idx]) + ',' + wScale(earray[idx])
        })
        earray.forEach((value,idx) => {
            path += " " + xScale(tarray[maxidx-idx]) + ',' + wScale(-earray[maxidx-idx])
        })
        path += " Z"
        //console.log(path)
        return path;
    }

</script>

<line y1={ypos} y2={ypos} x1={0} x2={llength} stroke=lightgray/>
<g transform="translate(0,{ypos})">
<path d={pathGenerator()}/>
</g>
<style>
    path {
        stroke: none;
        fill: black;
        fill-opacity:0.5;
    }
</style>