<script>

export let height
export let width

import {wScale, weeks, angle} from './_design_3_store.js'
import Leaf from './_design_3_leaf.svelte'

let leafWidth = 0.8*width/2/Math.cos(angle/180*Math.PI)

let direction=-1

function flip() {
    direction = -1*direction
    return direction
}

</script>

<line x1={width/2} x2={width/2} y1=0 y2={height} stroke="black"/>
    {#each $weeks as week}
    <g transform="translate({width/2},{height*$wScale(week)}) rotate({flip()*angle})">
        <Leaf week={week} dir={flip()} width={leafWidth} height={leafWidth/5}/>
    </g>
    <g transform="translate({width/2},{height*$wScale(week)})">
        <text text-anchor="middle" x={(-1)**week*2/7*width}> Wk{week}</text>
    </g>
    {/each}

<style>

    text{
        font-family: 'Trebuchet MS';
    }
    line{
        stroke: gray;
        stroke-width: 2;
    }
</style>