<script>
  // Size and margins
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from './_design_1_controls.svelte'
  import Lineplot from './_design_1_lineplots.svelte'

  import {data,maxenergy,builddom,scaling} from './_design_1_store.js'

  const width = 600;
  const height = 250;
  const margin = { top: 5, right: 10, bottom: 5, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let updatedcity
  let city
  let updatedscaling

  // let city
  // let data
  let dataset = null;

  onMount(async () => {
    dataset = await json('../data/hourly_heating_december.json')
    await city
    await updatedcity
    await update()
  });

  $: update = () => {
    // console.log(updatedcity)
    if (updatedcity == 1){return data} else {
    data.set(dataset.filter(d=> d.city == city))
    // console.log("Data:")
    // console.log($data)
    updatedcity = 1;
    $builddom = [...new Set($data.map(function (item) {return (item.buildingtype)}))]
    if (0 == 1) {
      let sorter = $builddom.map(function (item) {let sum=0;$data.forEach(d => {if (d.buildingtype == item) {sum += d.total_heating_energy}}); return [item,sum];})
      console.log(sorter)
      let sorted = sorter.sort((a,b) => {return b[1]-a[1]})
      // console.log(sorted)
      $builddom = sorted.map(function (item) {return item[0]})
      // console.log($builddom)
    }
    
    
    // console.log($builddom)
    let fullenergyarray = $data.map(({total_heating_energy}) => (total_heating_energy+0))
    maxenergy.set(Math.max(...fullenergyarray))
    return $data}
  }

  // $: console.log($builddom)

</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left}, {margin.top})">
    <g transform="translate({0.4*innerWidth}, 0)">
      <Controls cwidth={0.6*innerWidth} cheight={0.12*innerHeight} bind:city={city} bind:updatedcity={updatedcity} bind:updatedscaling={updatedscaling}/>
    </g>
    <g transform="translate(0,{innerHeight/5})">
      {#if !dataset}
        <text x={innerWidth/2} y={innerHeight/2-innerHeight/5} text-anchor="middle" dominant-baseline="middle">Loading the data, please wait...</text>
      {:else}
      <Lineplot width={innerWidth} height={innerHeight*4/5} data={update()}/>
      {/if}
    </g>
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
