<script>  
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import { scaleLinear,scaleLog, scaleSqrt } from 'd3-scale';
  import Clock from './_design_2_clock.svelte';

  import {mScale, dScale, cScale, eScale} from './_design_2_store.js'

  // Size and margins
  const width = 600;
  const height = 250;
  const margin = { top: 10, right: 10, bottom: 30, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let dataset = null
  let cities, months, mlength

  onMount(async () => {
    dataset = await json('../data/daily_heating_cooling.json')
    cities = [...new Set(dataset.map(function (item) {return (item.city)}))]
    let dates = [...new Set(dataset.map(function (item) {return [(item.month),(item.day)]}))]
    months = [...new Set(dates.map(function (item) {return (item[0])}))]
    mlength = months.map(function (i) {let maxdat=0;dates.forEach(d => {if (d[0] == i) {maxdat = Math.max(maxdat,d[1])}}); return (maxdat);})
    console.log(months)
    $mScale = scaleLinear().domain([Math.min(...months),Math.max(...months)])
              .range([Math.PI/2,Math.PI/2-2*Math.PI*11/12])
    $dScale = mlength.map(function (d) {return scaleLinear().domain([1,d]).range([0,-2*Math.PI/12])})
    $cScale = scaleLinear().domain([-0.5,cities.length-0.5]).range([0,innerWidth])
    let heatmax = Math.max(...dataset.map((item) => {return (item.heating)})) 
    // console.log(heatmax)
    let coolmax = Math.max(...dataset.map((item) => {return (item.cooling)}))
    // console.log(coolmax)
    $eScale = scaleLog().domain([1000,Math.max(heatmax,coolmax)]).range([0,1])
  });

  function data(city){
    return dataset.filter(d => d.city == city)
  }

</script>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left}, {margin.top})">
      {#if dataset}
        {console.log(dataset)}
        {#each cities as city,idx}
        {console.log(city,idx)}
        <g transform="translate({$cScale(idx)} 0)">
          <!-- <text x=0 y={0.05*innerHeight} text-anchor="middle"> {city} </text> -->
          <Clock height={innerHeight} width={0.95*($cScale(idx+0.5)-$cScale(idx-0.5))}
          city={city} data={data(city)}/>
        </g>
        {/each}
        
        <g transform="translate({innerWidth*0.42} {innerHeight})">
          <!-- <line x1={-innerWidth/2} x2={innerWidth/2} y1={0} y2={0} stroke="black"/> -->
          <g transform="translate(0 {3*margin.bottom/10})">
            <text x=0 y=0 font-size={margin.bottom*3/10}
              text-anchor="start" dominant-baseline="central">
              Use of Energy for Cooling</text>
            <rect x={-margin.bottom/10-margin.bottom/5} y={-margin.bottom/10}
                width={margin.bottom/5} height={margin.bottom/5}
                fill="dodgerblue" stroke="royalblue"/>
          </g>
          <g transform="translate(0 {7*margin.bottom/10})">
            <text x=0 y=0 font-size={margin.bottom*3/10}
              text-anchor="start" dominant-baseline="central">
              Use of Energy for Heating</text>
            <rect x={-margin.bottom/10-margin.bottom/5} y={-margin.bottom/10}
              width={margin.bottom/5} height={margin.bottom/5}
              fill="indianred" stroke="palevioletred"/>

          </g>
        </g>


      {:else}
          <text x={innerWidth/2} y={0.5*innerHeight} text-anchor="middle" dominant-baseline="middle"> Loading Data... </text>      
      {/if}
  </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
</style>
