<script>
  // Size and margins
  import { json } from "d3-fetch";
  import { onMount } from "svelte";
  import { scaleLinear, scaleLog, scaleSqrt} from 'd3-scale';
  import { data, weeks, wScale, dScale, eScale, gScale} from './_design_3_store.js'
  import Tree from './_design_3_tree.svelte'

  const width = 500;
  const height = 600;
  const title = 0.10;
  const margin = { top: 50, right: 10, bottom: 10, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  let dataset=null
  $data=null
  onMount(async () => {
    dataset = await json('../data/hourly_electricity_vs_gas_december.json')
    $data = dataset.map(function (d) {return {city:d.city, week:d.week, day:d.day -1 +d.hour/24, electricity:d.total_electrity, gas:d.total_gas}})
    // cities = [...new Set(data.map(function (d) {return (d.city)}))]
    console.log($data)
    $weeks = [...new Set($data.map(function (d) {return (d.week)}))]
    console.log($weeks)
    $wScale = scaleLinear().domain([Math.min(...$weeks)-0.5,Math.max(...$weeks)+1]).range([1,0])
    $dScale = scaleLinear().domain([0,7]).range([0,1])

    let emax = Math.max(...$data.map((d) => {return (d.electricity)})) 
    console.log(emax)
    let gmax = Math.max(...$data.map((d) => {return (d.gas)}))
    console.log(gmax)
    $eScale = scaleSqrt().domain([0,emax]).range([0,1])
    $gScale = scaleSqrt().domain([0,gmax]).range([0,1])
  });
</script>

<svg viewbox="0 0 {width} {height}">
  <g transform="translate({margin.left}, {margin.top})">
    {#if $data}
      <!-- Legend -->
      <g transform="translate({margin.left+margin.top} {-1/4*margin.top})">
        <text x=0 y=0 font-size={margin.top*3/10}
        text-anchor="start" dominant-baseline="central">
        Electricity Usage</text>
        <rect x={-margin.top/10-margin.top/5} y={-margin.top/10}
          width={margin.top/5} height={margin.top/5}
          fill="royalblue" stroke="midnightblue"/>
      </g>
      <g transform="translate({margin.left+margin.top} {1/4*margin.top})">
      <text x=0 y=0 font-size={margin.top*3/10}
          text-anchor="start" dominant-baseline="central">
          Gas Usage</text>
        <rect x={-margin.top/10-margin.top/5} y={-margin.top/10}
          width={margin.top/5} height={margin.top/5}
          fill="orange" stroke="darkorange"/>
      </g>
      <!-- Tree -->
      <Tree height={(1-title)*innerHeight} width={innerWidth}/>
    <g transform="translate({innerWidth/2} {(1-title)*innerHeight})">
      <!-- Title -->
      <text x=0 y={title*innerHeight/4} font-size={title*innerHeight/2}
        font-family='Trebuchet MS' dominant-baseline='middle' text-anchor='middle'>
        <tspan x=0 dy="0em" font-weight='bold'>Baltimore</tspan>
        <tspan x=0 dy="1em">(December 2014)</tspan>
      </text>
    </g>
    {:else}
    <text x={innerWidth/2} y={innerHeight/2} text-anchor="middle" dominant-baseline="middle">Loading Data...</text>
    {/if}
    </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  text {
    font-family: 'Trebuchet MS';
  }
</style>
