<script>
  // Import(s)
  import {
    forceSimulation,
    forceLink,
    forceManyBody,
    forceCollide,
    forceCenter
  } from "d3-force";
  import { scalePow } from "d3-scale";
  import { extent } from "d3-array";
  import { zooming } from "./_ex_2_zoom.js"
  import { writable } from 'svelte/store';


  let g

  let count = writable(0)

  // Dimensions
  const width = 600;
  const height = 400;

  // Props
  export let data = [];
  let { nodes, links } = data;

  // Scales
  const rScale = scalePow()
    .exponent(2)
    .domain(extent(nodes, (d) => +d.value))
    .range([5, 30]);

  // Simulation
  const simulation = forceSimulation(nodes)
    .force(
      "link",
      forceLink(links).id((d) => d.label)
    )
    .force("charge", forceManyBody())
    .force(
      "collide",
      forceCollide((d) => rScale(d.value))
    )
    .force("center", forceCenter(width / 2, height / 2))
    .on("tick", () => {
      // Needed so that svelte detects the values have changed...
      nodes = nodes;
      links = links;
    });
</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  <g>
    <image
      xlink:href="https://logos-download.com/wp-content/uploads/2016/09/Star_Wars_logo-1.png"
      x="5"
      y="5"
      width="100"
    />
  </g>
  <g bind:this={g} use:zooming={width,height}>
    <g>
      {#each links as link}
        <line
          x1={link.source.x}
          y1={link.source.y}
          x2={link.target.x}
          y2={link.target.y}
          opacity="1"
          stroke="black"
          stroke-width="1"
        />
      {/each}
    </g>
    <g>
      {#each nodes as node}
        {#if node.img}
          <defs>
            <pattern
              id={node.label.replace(/ /g, "_")}
              x="0%"
              y="0%"
              height="100%"
              width="100%"
              viewBox="0 0 128 128"
            >
              <image
                x="0%"
                y="0%"
                width="128"
                height="128"
                xlink:href={node.img}
              />
            </pattern>
          </defs>
        {/if}
        <circle
          cx={node.x}
          cy={node.y}
          r={rScale(node.value)}
          fill={node.img
            ? `url(#${node.label.replace(/ /g, "_")})`
            : "rgb(255, 232, 31)"}
          opacity="1"
        >
          <title>{node.label}</title>
        </circle>
      {/each}
    </g>
  </g>
</svg>
