<script>
    const person = {name: 'Rafa Reyes', fav1: 'music', fav2: 'sports', fav3: 'social history'};
</script>
<div>
    My name is {person.name}, and these are some of my favorite things: {person.fav1}, {person.fav2}, and {person.fav3}.
</div>
