<script>
  // Properties
  export let data = [];
  const continents = ["europe", "asia", "americas", "africa"];
  let slider=0
  export let year 
  export let cont
  $: year = 1800+slider;
  export let updated
</script>

<div class="container">
    <div class="row">
      <select name="continent" id="continent" class="form-select" bind:value={cont} on:forminput={() => updated--} on:input={() => updated--}>
        <option value={null}>All</option>
        {#each continents as c}
        <option value={c}>{c}</option>
      {/each}
    </select>
    </div>
    <div class="row">
    <input type=range min="0" max="200" bind:value={slider} on:forminput={() => updated=0} on:click={() => updated--} on:input={() => updated--}/>
  </div>
</div>

<style>
  * {
    box-sizing: border-box;
}
.container {
    width:100%;
    max-width:600px;
    margin: 0 auto;
    padding:10px;
}
.row {
    width:100%;
    margin-bottom:10px;
    padding:10px;
}
.col1 {
    width:100%;
    height:100%;    
}
.col2 {
    width:49%;
    float:left;
    height:100%;
    margin-right:2%;    
}
.col2:last-child {margin-right:0;  }
.col3 {
    border:2px solid brown;
    width:32%;
    float:left;
    height:100%;
    margin-right:2%;    
}
.col3:last-child {margin-right:0;  }
</style>