<script>
	let count = 0;
	function handleClick(event) {count += 1;}
    function resetClick(event) {count = 0;}
</script>

<style>
    button{
        margin: 0px 10px 0px 10px;
        font-weight: bold;
    }
</style>

<div class='column'>
<button class="btn btn-success" on:click="{handleClick}">
	count: {count}
</button>
</div>

<div class='column'>
<button class="btn btn-danger" on:click="{resetClick}">
	Reset Clicks
</button>
</div>