<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 10, right: 20, bottom: 20, left: 20 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  // Arrays
  const points = [
    innerWidth / 2 - 60,
    innerWidth / 2 - 30,
    innerWidth / 2,
    innerWidth / 2 + 30,
    innerWidth / 2 + 60
  ];

  // All lights with a higher index are on!
  let index = points.length;

  // Color
  let stop = "darkred";
  let go   = "darkgreen";


  // Color function
  $: opacity = (i) => {
    if (i<index) {
      return 0.3
    } else {return 1.0}
  }

  let counter
  function startCounter(){
    counter = setInterval(reduce,1000);
  }
  //startCounter()
  // let counter = setInterval(reduce,1000);

  function reduce(){
    index--;
    if (index==0){clearInterval(counter)}
  }

  let el;
  let started = 0;

  function tryactivate (elem) {
    if (started==0){
      isElementInViewport(el);
    }
    
  }

  function isElementInViewport(elem) {
  let rect = elem.getBoundingClientRect();
  let inside = (
      rect.top >= 0 &&
      rect.left >= 0 &&
      rect.bottom <= (window.innerHeight || document.documentElement.clientHeight) && /* or $(window).height() */
      rect.right <= (window.innerWidth || document.documentElement.clientWidth) /* or $(window).width() */
    );
  if (inside == true) {startCounter(); started=1;}
  }
 
  let wind

let i=1
</script>

<svelte:window bind:scrollY={wind} on:scroll={tryactivate(el)}/>
<svg bind:this={el} viewBox="0 0 {width} {height}" use:isElementInViewport={wind}>
  <g transform="translate({margin.left},{margin.top})">
    {#each points as dp,i}
    {#if index>0}
      <circle cx = {dp} cy={innerHeight/2} r=10 fill={stop} opacity={opacity(i)}/>
    {:else}
      <circle cx = {dp} cy={innerHeight/2} r=10 fill={go} opacity={opacity(i)}/>
    {/if}
      <!-- <text x={dp} y={margin.top}>{i}</text>
      <text x={dp} y={innerHeight}>{index}</text>
      <text x={margin.left} y = {innerHeight/2}> {wind}</text> -->
    {/each}
  </g>
</svg>
