<script>
  import { json } from "d3-fetch";
  import { onMount } from "svelte";

  import Controls from "./_ex_3_controls.svelte";
  import Scatterplot from "./_ex_3_scatterplot.svelte";

  // Load the data
  let dataset = null;
  // onMount(async () => {
  //   data = await json("/data/gapminder.json");
  // });
  let filteryear
  let filtercont

  let year, cont, data
  let updated = 0
  let filtered

  onMount(async () => {
    dataset = await json('../data/gapminder.json')
    year = await filteryear
    cont = await filtercont
    await update()
  });

  $: update = () => {
    console.log(updated)
    if (updated == 1){return data} else {
    filtered = dataset.filter(d=> d.year == filteryear)
    console.log(filtered)
    console.log(filtered)
    data = filtered[0]['countries']
    if (filtercont != null){data = data.filter(d=> d.continent == filtercont)}
    console.log(filtercont)
    data = data.filter(d=> d.income != null && d.life_exp != null)
    console.log(data)
    updated = 1;
    return data}
  }

//  console.log(data['0']['countries'])
  
  // $: data = () => {if(dataset==null){return null} else {dataset[filteryear]['countries']};}

  // let filtered = null;

  // $: filter = () => {
  //   let allconts = (filtercont==[])
  //   if(allconts){
  //   filtered = data.filter(d => d.year == filteryear)
  //   } else {
  //   filtered = data.filter(d => d.year == filteryear && d.continent == filtercont)
  //   }
  // }
</script>

<div class="row">
<div class="col3wide">
{#if !dataset}
  <p>Loading the data, please wait...</p>
{:else}
<Scatterplot data={update()} year={filteryear}/>
<!-- <Scatterplot data={data}/> -->
{/if}
</div>
<div class="col3">
  <svelte:component this={Controls} bind:year={filteryear} bind:cont={filtercont} bind:updated={updated}/>
</div>
</div>

<style>
  * {
    box-sizing: border-box;
}
.container {
    width:100%;
    max-width:600px;
    margin: 0 auto;
    padding:10px;
}
.row {
    width:100%;
    margin-bottom:10px;
    padding:10px;
}
.col1 {
    width:100%;
    height:100%;    
}
.col2 {
    width:49%;
    float:left;
    height:100%;
    margin-right:2%;    
}
.col2:last-child {margin-right:0;  }
.col3wide {
    width:66%;
    float:left;
    height:100%;
    margin-right:2%;    
}
.col3 {
    width:32%;
    float:left;
    height:100%;
    margin-right:2%;    
}
.col3:last-child {margin-right:0;  }
</style>