<script>
  // Dimensions
  const [height, width] = [400, 600];
  const margin = { top: 50, right: 5, bottom: 55, left: 50 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  
  import {scaleLinear,scaleLog,scaleBand, scaleRadial,scaleOrdinal, scaleSqrt} from 'd3-scale'
  import {select,selectAll} from 'd3-selection'
  import {axisBottom,axisLeft} from 'd3-axis'
  import {schemeTableau10} from 'd3-scale-chromatic'
  import { extent } from 'd3-array';
  export let data

  let clean
  if (data!=null){
  clean = data.filter(d => d.income != null && d.life_exp != null)
  }

  const xscale = scaleLog().domain([200,5000]).range([0,innerWidth])
  const yscale = scaleLinear().domain([20,45]).range([innerHeight,0])
  let rscale=scaleSqrt().domain([0,1000000]).range([5,15])
  if (data!=null){
  rscale = scaleSqrt().domain(extent(clean.map(d => d.population))).range([5,15])}
  const cat = scaleOrdinal().domain(['africa','americas','asia','europe']).range(schemeTableau10)

  const xAxis = axisBottom(xscale);
  function drawyinner(x) {yInner(select(x));selectAll(".inner").style('color','#dddddd')};
  function drawyaxis(x) {yAxis(select(x));selectAll('.axis text').style('font-weight','bold')};
  function drawxaxis(x) {xAxis(select(x));selectAll('.axis text').style('font-weight','bold')};
  
  const yInner = axisLeft(yscale).ticks(6).tickSize(-innerWidth);
  const yAxis = axisLeft(yscale).ticks(6).tickSize(0);
</script>

<svg viewBox="0 0 {width} {height}" style="max-width: {width}px">
  {#if data==null}
  <text text-anchor='middle' transform='translate({width/2},{height/2})'>...Data Loading...</text>
  {:else}
  <g class="inner" transform="translate({margin.left},{margin.top})" use:drawyinner/>
  <g class="axis"  transform="translate({margin.left},{margin.top})" use:drawyaxis/>
  <g transform="translate({margin.left}, {margin.top})">
      {#each clean as item}
      <circle cx={xscale(+item.income)} cy={yscale(+item.life_exp)} r={rscale(+item.population)} fill={cat(item.continent)} stroke="#333333" stroke-width="1" />
      {/each}
  </g>
  <g class="axis"  transform="translate({margin.left},{margin.top+innerHeight})" use:drawxaxis/>
  
  <g class='xtitle' transform='translate({margin.left/2},{margin.top+innerHeight/2}) rotate(-90)'>
    <text text-anchor="middle">Life Expectancy (Years)</text>
  </g>
  <g class='ytitle' transform='translate({margin.left+innerWidth/2},{margin.top+innerHeight+margin.bottom*0.65})'>
    <text text-anchor="middle">Income per Capita (PPP$)</text>
  </g>
  <g class='plottitle' transform='translate({width/2},{margin.top*0.6})'>
    <text text-anchor='middle' font-weight='bold'>GAPMINDER LITE</text>
  </g>
  {/if}
  <g class='yearlabel' transform='translate({margin.left+0.05*innerWidth},{margin.top+0.05*innerHeight})'>
    <text font-size=36 dominant-baseline='hanging' text-anchor='start' font-weight='bold' fill="#bbb">1800</text>
  </g>
</svg>
