<script>
  const width = 100;
  const height = 100;
  const margin = { top: 5, right: 5, bottom: 5, left: 5 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;
  const rect = {width: 40, height: 40};
  const cir = {rad: 20};
</script>

<svg {width} {height}>
  <g transform="translate({margin.left}, {margin.top})">
    <rect   x={(innerWidth-rect.width)/2}  y={(innerHeight-rect.height)/2}
            width={rect.width} height={rect.height}/>
    <circle cx={(innerWidth+rect.width)/2} cy={(innerHeight+rect.height)/2} r={cir.rad}/>
          </g>
</svg>

<style>
  svg {
    border: 1px solid black;
    border-radius: 5px;
  }
  circle{
    fill: skyblue
  }
  rect {
    fill: gold
  }
</style>
