<script>
  // Dimensions
  import { axisBottom } from "d3-axis";
  import { select } from "d3-selection";
  import { scaleLog } from "d3-scale";

  const width = 800;
  const height = 100;
  const margin = { top: 5, right: 10, bottom: 25, left: 10 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;


  const xscale = scaleLog().domain([1,10]).range([0,innerWidth]);
  const values = [2, 4, 6, 7, 9];

  const xBottom = axisBottom(xscale).tickSizeOuter(0);
  function drawxaxis(x) {xBottom(select(x));}
</script>

<style>
  text{
    fill : currentColor;
  }
  circle{
    fill : #336699
  }
</style>

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as item}
      <circle r=10 cy={innerHeight/2} cx={xscale(item)} />
    {/each}
    <text font-size="12" transform='translate({innerWidth/2},{innerHeight+margin.bottom*0.75})' color="currentcolor">x-axis</text>
    </g>

  <g transform="translate({margin.left},{margin.top+innerHeight})" use:drawxaxis />
</svg>
