<script>
  // Dimensions
  const width = 800;
  const height = 100;
  const margin = { top: 15, right: 5, bottom: 20, left: 30 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  import {scaleLinear,scaleOrdinal} from 'd3-scale'
  import {schemeTableau10} from 'd3-scale-chromatic'
  import {extent} from 'd3-array'
  import {axisBottom, axisLeft} from 'd3-axis'
  import {select,selectAll} from 'd3-selection';

  // Array
  const values = [
    { x: 2, y: 1, category: "cat1" },
    { x: 4, y: 2, category: "cat3" },
    { x: 6, y: 1, category: "cat2" },
    { x: 7, y: 3, category: "cat3" },
    { x: 9, y: 1, category: "cat2" }
  ];

  const xscale = scaleLinear().domain([1,10]).range([0,innerWidth]);
  const yscale = scaleLinear().domain([0,4]).range([innerHeight,0]);
  const colors = extent(values.map(function (item) {return (item.category)}));
  const cscale = scaleOrdinal().domain([colors]).range(schemeTableau10);

  const xAxis = axisBottom(xscale).tickSizeOuter(0);
  function drawxaxis(x) {xAxis(select(x));selectAll('.axis').style('color','grey')}

  const yAxis = axisLeft(yscale).tickSizeOuter(0).ticks(5.0);
  function drawyaxis(y) {yAxis(select(y));selectAll('.axis').style('color','grey')}

</script>

<!-- <style>
    .xAxis path {
    stroke : #888888;}
</style> -->

<svg viewBox="0 0 {width} {height}">
  <g transform="translate({margin.left},{margin.top})">
    {#each values as item}
    <circle r=10 cx={xscale(item.x)} cy={yscale(item.y)} fill={cscale(item.category)}/>
    <text class='valueLabel' x={xscale(item.x)} y={yscale(item.y)-15} fill={cscale(item.category)}> {item.y} </text>
    <line x1={xscale(item.x)} x2={xscale(item.x)} y1={yscale(0)} y2={yscale(item.y)+10} stroke={cscale(item.category)}/>
    {/each}
  </g>
  <g class='axis' transform="translate({margin.left},{margin.top+innerHeight})" use:drawxaxis/>
  <g class='axis' transform="translate({margin.left},{margin.top})" use:drawyaxis/>
  
  </svg>

<style>
  text {
    text-anchor: middle;
    font-size: small;
  }
</style>
