<script>
  // Dimensions
  const width = 600;
  const height = 300;
  const margin = { top: 10, right: 10, bottom: 30, left: 60 };
  const innerWidth = width - margin.left - margin.right;
  const innerHeight = height - margin.top - margin.bottom;

  import {scaleLinear,scaleBand} from 'd3-scale';
  import {schemeAccent} from 'd3-scale-chromatic';
  import {axisBottom,axisLeft} from 'd3-axis';
  import {select,selectAll} from 'd3-selection';
  
  // Array
  const data = [
    { service: "Netflix", viewers: 2.9 },
    { service: "Amazon Prime Video", viewers: 1.3 },
    { service: "Disney+", viewers: 2.1 },
    { service: "Hulu", viewers: 0.9 },
    { service: "Apple TV", viewers: 1.1 },
    { service: "Rakuten", viewers: 0.4 }
  ];
  const rWidth = 0.05*innerWidth

  const xscales = scaleBand().domain(data.map(function (item) {return (item.service)})).range([0,innerWidth]).padding([0.7])
  const yscales = scaleLinear().domain([0,3]).range([innerHeight,0])
  const cscales = scaleLinear().domain([3,0]).range(schemeAccent)
  
  const xAxis = axisBottom(xscales);
  function drawyinner(x) {yInner(select(x));selectAll(".inner").style('color','#dddddd')};
  function drawyaxis(x) {yAxis(select(x))};
  function drawxaxis(x) {xAxis(select(x))};
  
  const yInner = axisLeft(yscales).ticks(6).tickSize(-innerWidth);
  const yAxis = axisLeft(yscales).ticks(6).tickSize(0);
  //const gYaxis = this.canvas.append('g')
  
  </script>

<!-- setting a viewBox and max-width allows the SVG to shrink but not grow! -->
<svg viewbox="0 0 {width} {height}" style="max-width: {width}px">
  <g class="inner" transform="translate({margin.left},{margin.top})" use:drawyinner/>
  <g class="axis"  transform="translate({margin.left},{margin.top})" use:drawyaxis/>
  <g transform={`translate(${margin.left},${margin.top})`}>
    {#each data as item,i}
      <rect x={xscales(item.service)} y={yscales(item.viewers)}
            width={rWidth} height={innerHeight-yscales(item.viewers)} fill={cscales(item.viewers)}/>
      <!-- <text x={xscales(i)} y={innerHeight+15} text-anchor="middle" font-size=12>{item.service}</text> -->
    {/each}
  </g>
  <g class="axis"  transform="translate({margin.left},{margin.top+innerHeight})" use:drawxaxis/>
</svg>
