<script>

import {json} from 'd3-fetch';
import { onMount } from 'svelte';
import Scatter from './_ex_7_scatterplot.svelte'
import { extent } from 'd3-array';
//import {data} from './_ex_7_scatterplot.svelte'

let data = null
onMount(async () => {
    data = await json('../data/gapminder.json')
    .then(results => extent(results, function(year) {if(year.year == "1800") return year}))
    .then(countries => countries[0].countries)
    .then(dataset => data = dataset)
});
</script>

{#if data}
    <Scatter data={data}/>
{:else}
    <Scatter data={null}/>
{/if}